@page "/home"
@using BlazorFilmes.Shared
@inject IJSRuntime JSRuntime
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="modal">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>

</div>
